<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
{{>layout/header}}

    <form id="form1" name="form1" method="post" enctype="multipart/form-data" onsubmit="return false">
      <input type="file" id="fileInput" name="fileInput">
      <a href="javascript:void(0);" onclick="excelUploadProcess()">엑셀업로드</a>
    </form>

  </div>
{{>layout/footer}}
</body>
<script>
  // function uploadFile() {
  //     debugger;
  //     $.ajax({
  //       url: "/member/fileUpload",
  //       type: "POST",
  //       data: new FormData($("#upload-file-form")[0]),
  //       enctype: 'multipart/form-data',
  //       processData: false,
  //       contentType: false,
  //       cache: false,
  //       success: function () {
  //           console.log("sss");
  //         // Handle upload success
  //         // ...
  //       },
  //       error: function () {
  //         // Handle upload error
  //         // ...
  //       }
  //     })
  // };


  function excelUploadProcess(){
    var f = new FormData(document.getElementById('form1'));
    $.ajax({
      url: "/fileUpload",
      data: f,
      processData: false,
      contentType: false,
      type: "POST",
      success: function(data){
        console.log(data);
        document.getElementById('result').innerHTML = JSON.stringify(data);
      }
    });
  }

</script>
</html>