<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
  </style>
</head>
<body>
{{>layout/header}}
<div style="display: none">
  <div class="mypic">
  </div>
  <div class="hide">
    <h1>Welcome to My Awesome App</h1>
    <div id="firebaseui-auth-container"></div>
    <div id="loader">Loading...</div>
    <input id="UniqueNumber" type="hidden" value="{{UniqueNumber}}">
    <input id="platform" type="hidden" value="{{platform}}">
    <input id="url" type="hidden" value="{{url}}">
  </div>
</div>


<script type="module">
  // Import the functions you need from the SDKs you need
  import {initializeApp} from "https://www.gstatic.com/firebasejs/9.6.11/firebase-app.js";
  import {getAnalytics} from "https://www.gstatic.com/firebasejs/9.6.11/firebase-analytics.js";

  let sendData = new Object();
  let platform = null;
  let baseUrl = $("#url").val();
  const firebaseConfig = {
    apiKey: "AIzaSyAIk4Eeqs54cM_L84YlssmmzIb0zpfqpe0",
    authDomain: "egoism-3af0d.firebaseapp.com",
    projectId: "egoism-3af0d",
    storageBucket: "egoism-3af0d.appspot.com",
    messagingSenderId: "865899910654",
    appId: "1:865899910654:web:8a32560e1626cd197e5caf",
    measurementId: "G-Q5CGV5CSQJ"
  };
  var ui = createUi()
  if($("#platform").val() == 'google') {
    platform = firebase.auth.GoogleAuthProvider.PROVIDER_ID
  } else if ($("#platform").val() == 'facebook') {
    platform = firebase.auth.FacebookAuthProvider.PROVIDER_ID
  }

  var uiConfig = {
    callbacks: {
      signInSuccessWithAuthResult: function (authResult, redirectUrl) {
        sendData.uniqueNumber = $("#UniqueNumber").val();
        sendData.uid = authResult.user._delegate.uid;
        sendData.email = authResult.user._delegate.email;
        $.ajax({
          type: "POST",
          contentType: 'application/json;  charset=uft-8',
          data: JSON.stringify(sendData),
          url: "/oauth",
          success: function (response) {
              $(".hide").hidden;
          }
        })
        return true;
      }
    },
    // Will use popup for IDP Providers sign-in flow instead of the default, redirect.
    signInFlow: 'popup',
    signInSuccessUrl: baseUrl + '/success',
    signInOptions: [
      platform
    ]
  };

  ui.start('#firebaseui-auth-container', uiConfig);


  function createUi(){
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);

    firebase.initializeApp(firebaseConfig);
    var db = firebase.firestore();

    return new firebaseui.auth.AuthUI(firebase.auth());
  }

  window.onload = function(){
    $(".firebaseui-id-idp-button").click();
  }

</script>
{{>layout/footer}}
</body>
</html>